.registration-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 4px 8px lightgrey; 
    width: 500px;
    padding: 30px 175px 30px 175px; /* Edits how close elements are to the edge of the div. */
    border-radius: 10px; /* Edits roundness of the div. */
    margin: 20px 0px 0px 0px; /* Edits how close the div is to the edge of the screen. */
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px; 
    height: 48px; 
    padding-left: 18px;
    border-radius: 5px;
    font-size: 16px;
    margin: 0px 0px 20px 0px;
}

.submit-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submit-button {
    font-size: 18px;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    width: 120px;
    height: 40px;
    margin: 10px 0px 0px 0px;
}